body {
text-align: center;
background-color:#405aa1;

}

h1 {
color:white;
font-family:Courier;

}
img {

 border-radius: 100px;

}
.especial {
    color:white;
    font-family:Courier;
    font-size: 40px;
}
.normal{
    color:white;
    font-family:Courier;
    font-size: 30px;

}
a {

   margin: 0 200px 0 200px;
    background-color: white;
    display: block;
    padding: 20px;
    border-radius: 15px;
    color: blue;
    font-size: 30px;
    font-family: Courier;
}